<div class="caixa">
  <div class="caixa-login caixa-login-two">
    <div class="area-de-login area-de-login-two">
      <h2 class="primeiro-titulo">É um prazer ter você aqui.</h2>
      <p class="p-titulo1">Se não tem cadastro, clique em "Inscrever".</p>
      <button class="botao-entrar" type="button" (click)="btnInscrever()">Inscrever</button>
    </div>

    <div class="criar-login criar-login-two">
      <h2 class="segundo-titulo">Acessar conta</h2>

      <form class="form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <label class="form-login" for="email">
          <i class="far fa-user icon-modify"></i>
          <input type="text" id="email" placeholder="E-mail" formControlName="email">
        </label>
        <span *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          Campo obrigatório ou email inválido
        </span>

        <label class="form-login" for="password">
          <i class="fas fa-lock icon-modify"></i>
          <input type="password" id="password" placeholder="Senha" formControlName="password">
        </label>
        <span *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Campo obrigatório
        </span>

        <button type="submit" class="botao-form" [disabled]="!loginForm.valid">Entrar</button>
      </form>
    </div>
  </div>
</div>